*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.489);
}

.container-principal{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(/imagens/hanna-lazar-fnPPObbXXvo-unsplash.jpg) center center no-repeat fixed  ;
    background-size: cover;
}
.container-input{
    width: 200px;
    height: 200px;
    max-width: 200px;
    margin-top: 10px;
    background-color: rgba(5, 54, 97, 0.603);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px 0;
}
.container-input h2{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.501);
    width: 100%;
    color:#fff;
    padding: 3px;
    margin-bottom: 10px;
    border-radius:30px 0 0 0 ;
}
.container-input form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    
    
}
.container-input form input{
    border: 1px solid #0000007b ;
    border-radius: 10px;
    text-align: center;
    padding: 1px;    
    
}
.container-input form button{
    text-align: center;
    margin: 10px;
    width: 130px;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.896);
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    cursor: pointer;
    padding: 1px;
}
.container-input form button:hover{
    opacity: 75%;
    transition: .4s ease-in-out;
}
